[submodule "ROS/zed-ros-wrapper"]
	path = ROS/zed-ros-wrapper
	url = git@github.com:stereolabs/zed-ros-wrapper.git
[submodule "ROS/zed-ros-examples"]
	path = ROS/zed-ros-examples
	url = git@github.com:stereolabs/zed-ros-examples.git
[submodule "ROS/omni3ros_pkg"]
	path = ROS/omni3ros_pkg
	url = git@github.com:YugAjmera/omni3ros_pkg.git
[submodule "ROS/teleop_keyboard_omni3"]
	path = ROS/teleop_keyboard_omni3
	url = git@github.com:YugAjmera/teleop_keyboard_omni3.git
