<launch>
        <node pkg="joy" type="joy_node" name="joystick_bridge" ns="para">
            <param name="dev" type="str" value="/dev/input/js0"/>
            <param name="deadzone" type="double" value="0.20"/>
            <param name="autorepeat_rate" type="double" value="0.0"/>
        </node>

        <node pkg="para_control" type="xbox_listener.py" name="xbox_listener" ns="para" output="screen">
        </node>
</launch>
